/* Base button */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  font-family: inherit;

  border-radius: 16px;
  border: 1px solid transparent;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  margin: 0px;
}
/* Sizes (including the sizes of icons inside each) */
.button--sm {
  font-size: 0.8rem;
  padding: 0.4em 0.8em;
  gap: 4px;
}
.button--sm svg {
  width: 16px;
  height: 16px;
}
.button--md {
  font-size: 1rem;
  padding: 0.6em 1.2em;
  gap: 6px;
}
.button--md svg {
  width: 20px;
  height: 20px;
}
.button--lg {
  font-size: 1.125rem;
  padding: 0.8em 1.6em;
  gap: 8px;
}
.button--lg svg {
  width: 24px;
  height: 24px;
}

/* Block button (fill entire parent width) */
.button--isBlock {
  width: 100%;
}

/* ROUNDED (for pill shaped buttons) */
.button--rounded {
  border-radius: 999px;
  padding: 0.4em 1em;
}

/* Focus styling (hidden on click, custom on keyboard) */
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 3px solid var(--color-focus-outline);
  outline-offset: 3px;
}

/* Disabled (override hover and active) */
.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: var(--color-gray-light-4);
  color: var(--color-grey-light-1);
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  border-color: transparent;
}
.button:active {
  transform: scale(0.98);
}
/* VARIANTS */

/* Primary */
.button--primary {
  background-color: var(--color-primary);
  color: white;
}

.button--primary:hover {
  background-color: var(--color-primary-dark);
}

.button--primary-selected {
  background-color: var(--color-accent);
}

.button--primary-selected:hover {
  background-color: #b44a1b;
}

/* Secondary */
.button--secondary {
  background-color: white;
  color: var(--color-text-default);
  border-color: var(--color-gray-light-3);
}

.button--secondary:hover {
  background-color: #d5d5d5;
}

.button--secondary-selected {
  background-color: #28808f; /* same as primary (idea is to use for filters) */
  color: white;
  border-color: transparent;
}

.button--secondary-selected:hover {
  background-color: #1d5d69;
}
/* Ghost */
.button--ghost {
  background-color: transparent;
  color: var(--color-text-default);
  border-color: transparent;
  box-shadow: none;
}

.button--ghost:hover {
  background-color: var(--color-primary-subtle-light);
}

.button--ghost-selected {
  background-color: var(--color-primary-subtle);
  color: var(--color-primary);
  border-color: transparent;
  font-weight: 600;
}

.button--ghost-selected:hover {
  background-color: #eaf7f9;
}

/* Destructive */
.button--destructive {
  background-color: #dc3545;
  color: white;
}

.button--destructive:hover {
  background-color: #b43441;
}

.button--destructive:active {
  background-color: #a71d2a;
  transform: scale(0.98);
}

/* add a ghost variant here and include selected state (use for toggle button instead)*/
