.sidebar {
  box-sizing: border-box;
  background-color: white;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 200px;

  border-right: 1px solid var(--color-gray-light-3);
  padding: 16px;
  flex: 0 0;

  transition: 0.2s;
}

.bottom-bar {
  display: none;
}


.sidebar-logo {
  margin-left: 0px;
}

.logo {
  font-family: "Bricolage Grotesque";
  font-size: 2rem;
  color: var(--color-text-default);
  float: left;
  margin: 0px;
  margin-bottom: 40px;
  padding: 0px;
  height: auto;
}

.sidebar-title-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.sidebar-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-icons {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.8rem;
  align-self: center;
}

.sidebar-item-text {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  align-self: flex-start;
}

.sidebar-title-list a {
  width: 100%;
  padding: 15px;
}

.sidebar-title-list a:hover {
  background-color: var(--color-primary-subtle-light);
  border-radius: 1rem;
  transition: 0.2s;
}

.sidebar-links a.active {
  transition: 0s;
  color: var(--color-primary);
  font-weight: 600;
  background-color: var(--color-primary-subtle);
  border-radius: 1rem;
}

.sidebar-profile {
  margin-top: auto;
  margin-bottom: 16px;
}

.sidebar-profile:hover {
  margin-top: auto;
  background-color: var(--color-primary-subtle-light);
  border-radius: 1rem;
  transition: 0.2s;
}

.sidebar-profile a.active {
  background-color: var(--color-primary-subtle);
  border-radius: 1rem;
}

.sidebar-profile a.active .profile-name {
  font-weight: 800;
  color: var(--color-primary);
}

.sidebar-profile a.active .profile-username {
  font-weight: 600;
  color: var(--color-primary);
}

.logout-button {
  white-space: nowrap;
  height: 43px;
}

.logo-full {
  display: flex;
}

.logo-collapsed {
  display: none;
}

@media (width < 1200px) {
  .sidebar {
    max-width: 83px;
    transition: 0.2s;
  }

  .sidebar-title-list {
    padding: 0;
    margin: 0;
  }

  .sidebar-links {
    padding: 0;
    margin: 0;
    height: 56px;
  }

  .sidebar-item-text {
    display: none;
  }

  .sidebar-icons {
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .longtext {
    display: none;
  }

  .sidebar-profile .profile-text {
    display: none;
  }

  .sidebar-profile .profile-info{
    padding-left: 0;
    height: 64px;
    width: 64px;
  }

  .sidebar-profile:hover {
    margin-top: auto;
    background-color: var(--color-primary-subtle-light);
    border-radius: 999px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -6px;
    margin-right: -6px;
    transition: 0.2s;
  }

  .sidebar-profile a.active {
    background-color: var(--color-primary-subtle);
    border-radius: 999px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -6px;
    margin-right: -6px;
  }
  
  .sidebar-logo {
    padding-left: 18px;
  }

  .logo-full {
    display: none;
  }

  .logo-collapsed {
    display: flex;
  }

  .logout-button .button {
    width: 100%;
    min-width: 0;
    height: 43px;
  }
}

@media (width < 700px) {
  .sidebar {
    display: none;
  }

  .bottom-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
    border-top: 1px solid #ddd;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
  }

  .logo {
    margin: 0 0 3px 0;
  }

  .sidebar-title-list {
    flex-direction: row;
  }

  .sidebar-title-list a {
    padding: 0 5px;
  }

  .sidebar-profile {
    margin: 0;
  }

  .profile-info img {
    width: 30px;
  }

  .sidebar-profile .profile-info{
    padding: 0;
    height: 50px;
    width: 50px;
  }

  .sidebar-profile:hover {
    margin: 0;
    background-color: var(--color-primary-subtle-light);
    border-radius: 999px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: -4px;
    margin-right: -4px;
    padding-top: 4px;
    margin-top: -4px;
    padding-bottom: 4px;
    margin-bottom: -4px;
    transition: 0.2s;
  }

  .sidebar-profile a.active {
    background-color: var(--color-primary-subtle);
    border-radius: 999px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: -4px;
    margin-right: -4px;
    padding-top: 4px;
    margin-top: -4px;
    padding-bottom: 4px;
    margin-bottom: -4px;
  }

  .button--md.small-button {
    padding: 10px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }

  .logout-button {
    height: auto;
    width: 31px;;

  }
}

