.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.profile-text {
  min-width: 0;
}

.profile-name {
  font-size: 14px;
  color: var(--color-text-default);
  font-weight: 600;
  margin: 0;

  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 100%;
  overflow-inline: hidden;
}

.profile-username {
  font-size: 12px;
  color: var(--color-text-default);
  margin: 0;
  float: left;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 100%;
  overflow-inline: hidden;
}
