.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  
}

.profile-name {
  font-size: 14px;
  color: #222;
  font-weight: 600;
  margin: 0;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 135px;
  overflow-inline: hidden;


}

.profile-username {
  font-size: 12px;
  color: #323232;
  margin: 0;
  float: left;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 135px;
  overflow-inline: hidden;

}