.comment-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  box-sizing: border-box;
}

.comment {
  position: relative;
  background: white;
  padding: 16px;
  border-bottom: 1px solid var(--color-gray-light-3);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
}

.comment-text {
  font-size: 0.95rem;
  line-height: 1.4;
  color: var(--color-text-default);
  text-align: left;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 4px;
}

.comment-input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.submit-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

button.delete-button {
  position: absolute;
  right: 8px;
  padding: 4px;
}
