.search-section {
  width: 100%;
  max-width: 1000px;
  min-width: 170px;
  margin-inline: auto;
  height: 79.5vh;
}

.search-bar {
  border-radius: 16px;
  box-sizing: border-box;
  padding: 10px;
}

.search bar:has(input.naked:focus) {
  background-color: var(--color-primary-subtle);
}

.post-container {
  height: 100%;
}

.posts {
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}
