.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border: 1.5px solid #C6C6C6;
    border-radius: 16px;
    width: 40vh;
    font-size: 1.1rem;
    font-weight: 500;
}

.input-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.input-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}

.login {
    justify-content: center;
    align-items: center;
}

.inputfield {
    width: 100%;
    height: 1rem;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 2px;
    margin: 0;
    border: 0;
    border-bottom: #C6C6C6 solid 1.2px;
    opacity: .75;
    outline: none;
    font-size: 1rem;
}

.inputfield:focus {
  opacity: 100%;
  color: #323232;
}

.enabledButton {
    height: 3rem;
    width: 7rem;
}

.enabledButton:hover {
    background-color: #C6C6C6;
    transition: 0.2s;
}

.disabledButton {
    height: 3rem;
    width: 7rem;
    cursor: default;
}