.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border: 1.5px solid #C6C6C6;
    border-radius: 16px;
    width: 40vh;
}

.input-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.input-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}

.login {
    justify-content: center;
    align-items: center;
}

.inputfield {
    width: 100%;
    height: 1rem;
    padding: 0;
    margin: 0;
}