.avatar {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    object-fit: cover;
}
.fallback {
    background-color: rgb(226, 226, 226);
    align-content: center;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 18px;
}