/* Styling the base button: all buttons will have this  */
.button {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width:fit-content;

  gap: 6px;

  font-family: inherit;
  font-size: 1rem;

  border-radius: 16px;
  border: 1px;
  padding: 0.6em 1.2em;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  margin: 0px;
}
/* Block button (fill entire parent width) */
.button--isBlock {
  width: 100%;
}
/* add a size prop here!!*/

/* ROUNDED (for pill shaped buttons */
.button--rounded {
  border-radius: 999px;
  padding: 0.4em 1em;
}

/* hide focus when clicked */
.button:focus {
  outline: none;
}

/* focus visible = keyboard navigation only */
.button:focus-visible {
  outline: 3px solid #0056b3;
  outline-offset: 3px;
}

/* Disabled (override hover and active) */
.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #e0e0e0;
  color: #817f7f;
  cursor: not-allowed;
  box-shadow: none;
}
/* VARIANTS: primary, secondary   */

/* Primary */
.button--primary {
  background-color: #28808f;
  color: white;
}

.button--primary:hover {
  background-color: #246f7c;
}

.button--primary:active {
  background-color: #1c5863;
  transform: scale(0.98);
}

.button--primary-selected {
  background-color: #D0480E;
}

.button--primary-selected:hover {
  background-color: #b44a1b;
}

.button--primary-selected:active {
  background-color: #b44a1b;
}

/* Secondary */
.button--secondary {
  background-color: white;
  color: #323232;
  border-color: #c6c6c6;
}

.button--secondary:hover {
  background-color: #d5d5d5;
}

.button--secondary:active {
  background-color: #c0c0c0;
  transform: scale(0.98);
}

.button--secondary-selected {
  background-color: #28808f; /* same as primary (idea is to use for filters) */
  color: white;
}

.button--secondary-selected:hover {
  background-color: #1d5d69;
}

/* Destructive: using for logout */
.button--destructive {
  background-color: #dc3545;
  color: white;
}

.button--destructive:hover {
  background-color: #b43441;
}

.button--destructive:active {
  background-color: #a71d2a;
  transform: scale(0.98);
}

/* Selected (Destructive) */
.button--destructive-selected {
  background-color: #dc3545;
  color: white;
}


/* add a ghost variant here and include selected state (use for toggle button instead)*/