.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  border: 1.5px solid #c6c6c6;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  max-width: 100%;
  
}

.card:hover {
  transform: scale(1.02);
}

/* Threads styling */

.thread-open-container, 
.thread-card-container {
    background: #ffff;
    padding: 12px 16px;
    border-radius: 10px;
    margin-bottom: 12px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 720px;

  }


.thread-text{
  color: #111;  
  line-height: 1.4;
  font-size: 1rem; 
  margin: 0; 
  padding: 0;
}

.thread-open-container .card:hover {
  transform: none; 
}





/* Events styling */

.event_card {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.event_card2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.event_card_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0px;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1vh;
  margin-right: 0rem;
}

.event_icon {
  padding: 0;
  margin: 0;
}

.Music {
  color: #d0480e;
}

.Food {
  color: #28818f;
}

.Social {
  color: #EA8A5F;
}

.Sport {
  color: #93A7AB;
}

.date_time {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

.location {
  font-size: 1rem;
  color: #5d5d5d;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
}

.card_image {
  width: 100%; /* changed this to 100%  */
  height: 11rem;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: cover;
}

.post_info {
  font-size: 0.75rem;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.date-signup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.event-signup-button {
  display: flex;
  height: 100%;
  width: 5rem;
  font-size: .8rem;
  padding: 0;
  margin: 0;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.event-signup-button:hover {
  opacity: .75;
}

.not-signed-up {
  background: #C6C6C6;
}

.signed-up {
  background: red;
}