.card{
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    border: 1.5px solid #C6C6C6;
    cursor: pointer;
    transition: all 0.2s;
}

.usercontainer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

.userIcon {
    margin-right: 12px;
}

.userInfo {
    flex-grow: 1;
}

.usernameRow {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

.username {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Manrope';
    color:#5D5D5D;
    font-weight: bold;
    margin: 0;
}

.usercontainer {
    text-align: left;
}

.bio {
    font-family: 'Manrope';
    font-size: 0.8em;
    color:#5D5D5D;
    margin-top: 0.1em;

}

.timestampContainer {
    display: left;
    align-items: center;
    gap: 6px;
  }

.timestamp {
    font-family: 'Manrope';
    font-size: 0.8em;
    color:#5D5D5D;

}
.thread_text {
    color:#5D5D5D;
    font-size: 0.8em;
    font-family: 'Manrope';
    text-align: left;

}

.card:hover {
    transform: scale(1.02);
}

.event_card {
    width: 20rem;
    height: 20rem;
}

.header {
    display: flex;
}

.event_icon{
    height: 1.5rem;
    float: left;
}

.title {
    font-size: 1.5rem;
    font-family: 'Manrope';
    font-weight: 400;
    padding: 0px;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 5%;
    margin-right: 0rem;
    float: left;
    color: black;
}

.music {
    color: #D0480E;
}

.food {
    color: #28818F;
}

.date_time_div {
    display: flex;
}

.date_time {
    align-items: flex-start;
    font-size: 1rem;
    font-family: 'Manrope';
    font-weight: 800;
    color: #323232;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.location_div {
    display: flex;
}

.location {
    align-items: flex-start;
    font-size: 1rem;
    font-family: 'Manrope';
    color: #5D5D5D;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.card_image {
    width: 20rem;
    border-radius: 16px;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.footer {
    display: flex;
    align-items: center;
}

.post_info {
    font-family: Manrope;
    font-size: 0.75rem;
    color: #323232;
    opacity: .5;
}

.ellipse {
    width: 0.25rem;
    height: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    opacity: .5;
}

