.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  border: 1.5px solid #c6c6c6;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

/* Threads styling */

.thread_text {
  font-size: 1rem;
  text-align: left;
}

/* Events styling */

.event_card {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.event_card_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0px;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1vh;
  margin-right: 0rem;
}

.event_icon {
  padding: 0;
  margin: 0;
}

.Music {
  color: #d0480e;
}

.Food {
  color: #28818f;
}

.date_time {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

.location {
  font-size: 1rem;
  color: #5d5d5d;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
}

.card_image {
  width: 20rem;
  height: 11rem;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: cover;
}

.post_info {
  font-size: 0.75rem;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  margin-top: auto;
}
