.card{
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    border: 1.5px solid #C6C6C6;
    cursor: pointer;
    transition: all 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

/* Threads styling */

.thread_text {
    font-size: 1rem;
    text-align: left;

}

/* Events styling */

.event_card {
    width: 20rem;
    height: 20rem;
}

.header {
    display: flex;
}

.event_icon{
    height: 1.5rem;
    float: left;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0px;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 5%;
    margin-right: 0rem;
    float: left;
}

.music {
    color: #D0480E;
}

.food {
    color: #28818F;
}

.date_time_div {
    display: flex;
}

.date_time {
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.location_div {
    display: flex;
}

.location {
    align-items: flex-start;
    font-size: 1rem;
    color: #5D5D5D;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.card_image {
    width: 20rem;
    border-radius: 16px;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.footer {
    display: flex;
    align-items: center;
}

.post_info {
    font-size: 0.75rem;
    opacity: .75;
}