.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  border: 1.5px solid #c6c6c6;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  max-width: 100%;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
}

/* Threads styling */

.thread-open-container,
.thread-card-container {
  background: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.thread-text {
  color: #111;
  line-height: 1.4;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.thread-open-container .card:hover {
  transform: none;
}

.thread-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 8px;
}

/* Events styling */

.event_card {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.event_card2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.event_card_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: auto;
}

.title {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0px;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1vh;
  margin-right: 0rem;
}

.event_icon {
  padding: 0;
  margin: 0;
}

.Music {
  color: #d0480e;
}

.Food {
  color: #28818f;
}

.Social {
  color: #ea8a5f;
}

.Sport {
  color: #93a7ab;
}

.Culture {
  color: #b44a1b;
}

.date_time {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

.location {
  font-size: 1rem;
  color: #5d5d5d;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
}

.card_image {
  width: 100%;
  height: 11rem;
  aspect-ratio: 4/3;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: cover;
}

.post_info {
  font-size: 0.75rem;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.date-signup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.event-signup-button {
  display: flex;
  height: 100%;
  width: 5rem;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
