.comment-list {
  display: flex;
  flex-direction: column;
  gap: px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  box-sizing: border-box;
}

.comment {
  position: relative;
  background: #ffffff;
  padding: 16px;
  border-bottom: 1px solid #c6c6c6;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
}

.comment-text {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #333;
  text-align: left;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 4px;
}

.comment-placeholder-text {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #333;
  text-align: center;
  margin: 0;
  margin-top: 12px;
}

.comment-time {
  font-size: 0.75rem;
  color: #777;
}

.comment-action-buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.comment-input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.submit-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 6px 20px;
  font-size: 1rem;
}

button.delete-button {
  position: absolute;
  right: 8px;
  padding: 4px, 5px;
  font-size: 1rem;
}
