.comment {
    background: #ffffff;
    padding: 12px 16px;
    border-radius: 10px;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;

  }
  

  .comment-text {
    font-size: 0.95rem;
    line-height: 1.4;
    color: #333;
    margin-top: 8px;
    text-align: left;
  }
  
  .comment-time {
    font-size: 0.75rem;
    color: #777;
    margin-top: 4px;
  }
  