.button-dock {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  width: 100%;
  align-self: flex-end;
}

input {
  padding: 10px;
  border: 1.5px solid #c6c6c6;
  border-radius: 16px;
  font-size: 16px;
  font-family: "Manrope";
  width: 100%;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border-color: #28808f;
  background-color: #f1f8f9;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  position: relative;
  overflow: visible;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
select {
  padding: 10px;
  border: 1.5px solid #c6c6c6;
  border-radius: 16px;
  font-size: 16px;
  font-family: "Manrope";
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(
    255,
    255,
    255
  ); /*to override default gray background on some browsers*/
  appearance: none; /*to remove default arrow on some browsers*/
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px; /* Adjust size as needed */
  padding-right: 20px; /* Make space for the arrow */
}
select:focus {
  outline: none;
  border-color: #28808f;
  background-color: #f1f8f9;
}

select:invalid,
input::placeholder,
input:invalid {
  color: #686868; /*trying to match all placeholder colors*/
}
.photo-preview-container {
  position: relative;
  width: 40%;
}

.photo-preview {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.icon-overlay {
  position: absolute;
  display: flex;
  top: 12px;
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

