.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  justify-items: center;
}

.button-dock {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  width: 100%;
  align-self: flex-end;

}

.dialog-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-width: 1px;
  border-color: rgba(213, 213, 213, 1);
  border-bottom-style: solid;
  padding: 20px;
  padding-bottom: 10px;
  margin: -20px;
  margin-bottom: 0px;
}

/* Close button styles (might be relevant in other places) */
.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1;
  padding: 0;
}
.close-button:hover {
  color: #888;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Manrope';
    width: stretch;

}
input:focus {
    outline: none;
    border-color: #28808f;
    background-color: #F1F8F9; 

}
.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    position: relative;
    overflow: visible;
}
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Manrope';
    width: stretch;





}
select:focus {
    outline: none;
    border-color: #28808f;
    background-color: #F1F8F9; 

}

select:invalid, input::placeholder, input:invalid { 
    color: #686868; /*trying to match all placeholder colors*/
  }



