.photo-preview-container {
  position: relative;
  width: 40%;
}

.photo-preview {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.icon-overlay {
  position: absolute;
  display: flex;
  top: 12px;
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

/*add a size prop/variant to button to replace this later*/
.small {
  font-size: 0.8rem;
  padding: 0.6em 0.6em;
  gap: 2px;
}
.small svg {
  width: 18px;
  height: 18px;
}
