.sidebar {
    background-color: #ffffff;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 20vh;
    border-right: 1px solid #C6C6C6;
    padding: 16px;
}

.sidebar-logo {
    margin-left: 0px;
}

.logo {
    font-family: 'Bricolage Grotesque';
    font-size: 2rem;
    color: black;
    float: left;
    margin: 0px;
    margin-bottom: 5vh;
    padding: 0px;
    height: auto;
}

.sidebar-title-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    gap: 0.5vh;
}

.sidebar-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-icons {
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 0.8rem;
    align-self: center;
}

.sidebar-item-text {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    align-self: flex-start;
}

.sidebar-title-list a {
    width: 100%;
    padding: 1.5vh;
}

.sidebar-title-list a:hover {
    background-color: #f6fbfb;
    border-radius: 1rem;
    transition: 0.2s;
}

.sidebar-links a.active {
    transition: 0s;
    color: #28808F;
    font-weight: 600;
    background-color: #F1F8F9;
    border-radius: 1rem;
}

.sidebar-profile {
    margin-top: auto;
}

.sidebar-profile:hover {
    margin-top: auto;
    background-color: #f6fbfb;
    border-radius: 1rem;
    transition: 0.2s;
}

.sidebar-profile a.active {
    background-color: #F1F8F9;
    border-radius: 1rem;
}

.sidebar-profile a.active .profile-name {
    font-weight: 800;
    color: #28808F;
}

.sidebar-profile a.active .profile-username {
    font-weight: 600;
    color: #28808F;
}

span {
    margin-left: 16px;
}

.logout {
    color: red;
}
