textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-size: 16px;
    font-family: 'Manrope';

    width: 100%;
    resize: none;
    min-height: 32px;
    field-sizing: content; 
    box-sizing: border-box;

}

textarea.naked {
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    text-wrap: wrap;
}

textarea.naked:focus {
    outline: none;
}

.text-box {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #c6c6c6;
    border-radius: 16px;
    font-size: 1rem;
    box-sizing: border-box;
}

.text-box:has(textarea.naked:focus) {
    border-color: var(--color-primary);
    background-color: var(--color-primary-subtle); /*this is to make the text box (including the photoicon) show the focus state, althoug it is technically the text area that has focus*/
}

.icon-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.icon{
    width: 24px;
    height: 24px;
    cursor:pointer;
}
