.tag {
    border-style: solid;
    border-width: 1px;
    border-color: #D0480E;
    color: rgb(255, 255, 255);
    font-size: 12px;
    background-color: #D0480E;
    padding: 2px 6px;
    border-radius: 999px;
}

.tag:hover {
    background-color: #9d3f0c;
    border-color: #A03E0B;
    cursor: pointer;
}

.username {
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 800;
    color: #323232;
    margin: 0px;
}

.user_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.subtle {
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 500;
    color: #5D5D5D;
    margin: 0px;
    align-self: flex-start;
}

