:root {
  font-family: 'Manrope';
  line-height: 1.5;
  font-weight: 400;

  color: #323232;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;

  text-align: center;
}

a {
  display: flex;
  font-weight: 400;
  color: #323232;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: 'Manrope';
  src: url(/src/assets/Manrope.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(/src/assets/BricolageGrotesque.ttf) format('truetype');
  font-style: normal;
}

.app-shell {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
}

.main-content-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 3rem;
  height: 95vh;
  width: 100%;
  margin: 0;
  padding-top: 5vh;
  padding-left: 8vh;
  padding-right: 8vh;
  padding-bottom: 0vh;
  overflow-y: auto;
}

