:root {
  font-family: 'Manrope';
  line-height: 1.5;
  font-weight: 400;

  color: #323232;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: 'Manrope';
  src: url(/src/assets/Manrope.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.app-shell {
  display: flex;
  min-height: 100vh;
}

.main-content-area {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.page-titles {
  font-family: 'Manrope';
  font-weight: 900;
  font-size: 3rem;
  color: black;
}