.PostInteractions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 2px;
}

.PostInteractions button {
  margin: 0px;
  padding: 0px;
}

.likeWrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 0px;
  margin: 0px;
}

.commentWrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 0px;
  margin: 0px;
}

.likeButton,
.commentButton,
.bookmarkButton,
.repostButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(36, 111, 124);
}

/* fix: like icon vertical alignment */
.likeButton svg {
  transform: translateY(-1px);
}

.likeButton:hover,
.commentButton:hover,
.bookmarkButton:hover,
.repostButton:hover {
  color: rgb(208, 72, 14);
}

.likeButton:focus,
.commentButton:focus,
.bookmarkButton:focus,
.repostButton:focus {
  outline: none;
}

.likesCount {
  font-size: 15px;
  font-weight: 600;
  color: rgb(36, 111, 124);
  line-height: 1;
  margin: 0;
  padding: 0;
}

.commentsCount {
  font-size: 15px;
  font-weight: 600;
  color: rgb(36, 111, 124);
  line-height: 1;
  margin: 0;
  padding: 0;
}
